* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
main {
  width: 600px;
}
.col-1,
.col-2 {
  width: 48%;
}

.col-1,
.col-2,
.col-3 {
  height: 150px;
  background-color: blue;
}
.col-1 {
  float: left;
}
.col-2 {
  float: right;
}
.col-3 {
  margin: 0 auto;
  width: 60%;
}

.row::after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
}

header,
footer {
  background-color: blue;
  width: 100%;
  height: 150px;
}

header,
.row {
  margin-bottom: 10px;
}
